<strong><?php echo _t('FERME_GENERATE_MODEL_FROM_URL'); ?></strong>
<form id="yw-import-from-url" action="<?php echo $formurl; ?>" method="post">
  <div class="form-group">
    <div class="input-prepend input-append input-group">
      <span class="add-on input-group-addon"><i class="glyphicon glyphicon-link icon-globe"></i></span>
      <input id="url-import" name="url-import" class="form-control input-xxlarge" placeholder="<?php echo _t('FERME_URL_IMPORT_INFO'); ?>" type="url">
      <span class="input-group-btn">
          <button id="btn-import-wiki" class="btn btn-primary" type="submit"><?php echo _t('FERME_IMPORT'); ?></button>
      </span>
    </div>
  </div>
  <div id="wiki-response"></div>
  <input id="wiki-import-forms" name="wiki-import-forms" type="hidden" value="">
  <input id="wiki-import-lists" name="wiki-import-lists" type="hidden" value="">
  <input id="wiki-import-entries" name="wiki-import-entries" type="hidden" value="">
  <input id="wiki-import-pages" name="wiki-import-pages" type="hidden" value="">
</form>
<div id="yw-import-from-url-translations" data-nbformsfound="<?php echo _t('BAZ_NBFORMSFOUND'); ?>" data-nblistsfound="<?php echo _t('Nombre de listes trouvées'); ?>" data-nbpagesfound="<?php echo _t('Nombre de pages trouvées'); ?>" data-nbentriesfound="<?php echo _t('Nombre de fiches trouvées'); ?>" data-noanswers="<?php echo _t('BAZ_NOANSWERS'); ?>" data-notvalidurl="<?php echo _t('BAZ_NOTVALIDURL'); ?>" data-recuperation="<?php echo _t('BAZ_RECUPERATION'); ?>" data-generatesqlfile="<?php echo _t('Générer le fichier MySQL modèle pour ce wiki'); ?>" data-loading="<?php echo _t('BAZ_LOADING'); ?>" data-existingmessage="<?php echo _t('BAZ_EXISTINGMESSAGEFORM'); ?>" data-existingmessagereplace="<?php echo _t('BAZ_EXISTINGMESSAGEREPLACEFORM'); ?>"></div>
